---
import MainLayout from '../layouts/MainLayout.astro';

import { Image } from "astro:assets";

// heroimages
import Hero1 from "../assets/page-1.png"

// About Images
import About1 from "../assets/about-1.png";

// Services Images
import Service1 from "../assets/service-1.png";

// Testimonial images
import Testimonial1 from "../assets/testimonial-1.png";
---

<MainLayout title="Aceltrim Ghana">
	


	<!-- =========================== Coming soon Pge ===================== -->
	<!-- <section class="section-coming-soon">
		<div class="container wrapper">
			<div class="coming-container">
				<p>We are about to land</p>
				<h1>Get in touch</h1>
				<p>In the mean time, please do feel free to send all questions and all messages to via email</p>

				<a href="mailto:kofikwaakoomson@yahoo.com" class="btn btn-black">Send us a message</a>
			</div>
		</div>
	</section> -->
	<!-- End of Coming soon page -->




	<!-- ============================ section Hero =================== -->
	<section class="section-hero">
		
		<div class="hero-swiper">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->

				 <!-- page-1 -->
				<div class="swiper-slide page-1">
					<div class="container wrapper">
						<div class="w-full h-full page-1_container text-white  items-center text-center md:text-left pt-40">
							<div>
								<h1 class="hero-text mb-4">We Design &amp; Create your Gardens</h1>
								<p class="mb-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum numquam deserunt ea eligendi praesentium commodi iste ipsam nihil similique ullam?</p>
								<a href="#" class="btn btn-black">Contact Us</a>
							</div>
							<div class="hidden md:block">
								<img src={Hero1.src} alt="hero Imag-1">
							</div>
						</div>
					</div>
				</div>
				<!-- End of Page-1 -->

				<!-- Page-2 -->
				<div class="swiper-slide page-2">
					<div class="container wrapper">
						<div class="w-full h-full max-w-6xl mx-auto  text-white pt-40 flex items-center flex-col justify-center text-center ">
							<h1 class="hero-text mb-8">We Design &amp; Create your Gardens</h1>
							<p class="mb-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum numquam deserunt ea eligendi praesentium commodi iste ipsam nihil similique ullam?</p>
							<a href="#" class="btn btn-green">Contact Us</a>
						</div>
					</div>	
				</div>
				<!-- End of page-2 -->

				<!-- Page-3 -->
				<div class="swiper-slide page-3">
					<div class="container wrapper">
						<div class="w-full h-full max-w-6xl mx-auto text-white pt-40 flex items-center flex-col justify-center text-center ">
							<h1 class="hero-text mb-8">We Design &amp; Create your Gardens</h1>
							<p class="mb-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum numquam deserunt ea eligendi praesentium commodi iste ipsam nihil similique ullam?</p>
							<a href="#" class="btn btn-green">Contact Us</a>
						</div>
					</div>
				</div>
				<!-- End of page-3 -->
			</div>


			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>


			<!-- If we need navigation buttons -->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</section>
	<!-- End of section hero -->


	




	<!-- =========================== Section About ===================== -->
	<section class="section-home_about py-40">
		<div class="container wrapper">
			<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
				<div>
					<h1 class="heading-big">Welcome to Lorem Ipsum</h1>
					<p class="mb-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde similique tempore minus velit sint consequuntur non quasi impedit consectetur officia?
					<br>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, iste.
					</p>
					<a href="/about" class="btn btn-green">More about us</a>
				</div>
				<div>
					<!-- <Image src={About1} alt="Aceltrim Group" /> -->
					<img src={About1.src} alt="Aceltrim Group" />
				</div>
			</div>
		</div>
	</section>

	<!-- End of section about -->






	<!-- =========================== Section About ===================== -->
	<section class="section-values py-40">
		<div class="container wrapper">
			<h2 class="heading-secondary">Our core values</h2>
			<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
				<!-- Value 1 -->
				<div class="value value-1">
					<i class="fa-regular fa-thumbs-up value-icon value-icon_1"></i>
					<h3>commitment to Excellence</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio laborum facilis rerum voluptatem esse voluptatibus, ratione aliquid quos exercitationem officiis.</p>
				</div>
				<!-- End of Value-1 -->

				<!-- Value 2 -->
				<div class="value value-2">
					<i class="fa-regular fa-thumbs-up value-icon value-icon_2"></i>
					<h3>commitment to Excellence</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio laborum facilis rerum voluptatem esse voluptatibus, ratione aliquid quos exercitationem officiis.</p>
				</div>
				<!-- End of Value-2 -->

				<!-- Value 3 -->
				<div class="value value-3">
					<i class="fa-regular fa-thumbs-up value-icon value-icon_3"></i>
					<h3>commitment to Excellence</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio laborum facilis rerum voluptatem esse voluptatibus, ratione aliquid quos exercitationem officiis.</p>
				</div>
				<!-- End of Value-3 -->
			</div>
		</div>
	</section>
	<!-- End of Values -->





	<!-- =========================== Section services ===================== -->
	<section class="section-service py-40">
		<div class="container wrapper">
			<h2 class="heading-secondary">Our Services</h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, nemo.</p>

			<div class="grid grid-cols-1 gap-12">
				<!-- Service-1 -->
				<div class="service grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
					<div class="service-text">
						<h3>Landscape Design and Installation</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, velit? Sequi, earum!</p>
						<a href="#" class="btn-thin">Learn More</a>
					</div>
					<div class="service-img">
						<img src={Service1.src} alt="Landscape Design and Installation" />
					</div>
				</div>
				<!-- End of service-1 -->

				<!-- Service-1 -->
				<div class="service grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
					<div class="service-text">
						<h3>Landscape Design and Installation</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, velit? Sequi, earum!</p>
						<a href="#" class="btn-thin">Learn More</a>
					</div>
					<div class="service-img">
						<img src={Service1.src} alt="Landscape Design and Installation" />
					</div>
				</div>
				<!-- End of service-1 -->

				<!-- Service-1 -->
				<div class="service grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
					<div class="service-text">
						<h3>Landscape Design and Installation</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, velit? Sequi, earum!</p>
						<a href="#" class="btn-thin">Learn More</a>
					</div>
					<div class="service-img">
						<img src={Service1.src} alt="Landscape Design and Installation" />
					</div>
				</div>
				<!-- End of service-1 -->

				<!-- Service-1 -->
				<div class="service grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
					<div class="service-text">
						<h3>Landscape Design and Installation</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, velit? Sequi, earum!</p>
						<a href="#" class="btn-thin">Learn More</a>
					</div>
					<div class="service-img">
						<img src={Service1.src} alt="Landscape Design and Installation" />
					</div>
				</div>
				<!-- End of service-1 -->
			</div>
		</div>
	</section>

	<!-- End of services -->





	<!-- =========================== Section Banner ===================== -->
	<section class="section-banner py-40">
		<div class="container wrapper">
			<div class="banner-container text-center">
				<h1 class="heading-big">Let's Build Together</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quibusdam blanditiis similique fugiat tenetur. Suscipit voluptatem omnis debitis esse. Doloribus molestiae similique ratione sequi deleniti.</p>
				<a href="#" class="btn btn-black">Send a message</a>
			</div>
		</div>
	</section>
	<!-- End of section Banner -->






	<!-- =========================== Section Testimonials ===================== -->
	<section class="section-testimonials py-40">
		<div class="container wrapper">
			<h2 class="heading-secondary">Testimonials</h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, nemo.</p>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
				<div class="grid grid-cols-1 gap-8">
					<!-- testimonial 1 -->
					<div class="testimonial">
						<div class="testimonial-image">
							<img src={Testimonial1.src} alt="Client-1">
							<div>
								<h3>Carbell Sarfo</h3>
								<p>Managing Director</p>
							</div>
						</div>
						<div>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vero, libero sint quas sequi doloremque.</p>
						</div>

					</div>
					<!-- end of Testimonial-1 -->

					<!-- testimonial 1 -->
					<div class="testimonial">
						<div class="testimonial-image">
							<img src={Testimonial1.src} alt="Client-1">
							<div>
								<h3>Carbell Sarfo</h3>
								<p>Managing Director</p>
							</div>
						</div>
						<div>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vero, libero sint quas sequi doloremque.</p>
						</div>

					</div>
					<!-- end of Testimonial-1 -->

					<!-- testimonial 1 -->
					<div class="testimonial">
						<div class="testimonial-image">
							<img src={Testimonial1.src} alt="Client-1">
							<div>
								<h3>Carbell Sarfo</h3>
								<p>Managing Director</p>
							</div>
						</div>
						<div>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vero, libero sint quas sequi doloremque.</p>
						</div>

					</div>
					<!-- end of Testimonial-1 -->

					<!-- testimonial 1 -->
					<div class="testimonial">
						<div class="testimonial-image">
							<img src={Testimonial1.src} alt="Client-1">
							<div>
								<h3>Carbell Sarfo</h3>
								<p>Managing Director</p>
							</div>
						</div>
						<div>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vero, libero sint quas sequi doloremque.</p>
						</div>

					</div>
					<!-- end of Testimonial-1 -->


				</div>
			</div>
		</div>
	</section>
	<!-- End of section Testimonials -->




</MainLayout>










<style lang="scss">
// 
.section-hero {
	width: 100vw;
	height: 95vh;
	position: relative;

	.hero-swiper {
		width: 100%;
		height: 100%;
	}

	// Swiper Slide
	.swiper-slide {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		padding-top: 5rem;
	}


	.page-1 {
		background-image: url(/assets/hero-1.png);

		&_container {
			display: grid;
			grid-template-columns: 1fr;
			gap: 5rem;
		}
	}
	.page-2 {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(/assets/hero-2.png);
	}
	.page-3 {
		background-image:  linear-gradient(to right, rgba(0, 175, 82, 0.85), rgba(0, 0, 0, 0.8)), url(/assets/hero-3.png);
	}


	// =========== Hero Text ==============
	.hero-text {
		font-size: clamp(4rem, 6vw, 6rem);
		font-family: "montserrat", sans-serif;
		line-height: 1.2;
		font-weight: bolder;
	}



	// =========== Swiper Carousel ==============

	// Navigation Buttons
	.swiper-button-next,
	.swiper-button-prev {
		display: flex;
		width: 5rem;
		height: 5rem;
		background-color: var(--clr-white);
		border-radius: 50%;
		opacity: 0;
		pointer-events: none;
		transition: .2s ease-in-out;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&:hover {
			background-color: var(--clr-lemon);
		}
		&:hover::after {
			color: var(--clr-white);
		}

		&::after {
			// display: none;
			font-size: 2rem;
			font-weight: bolder;
			color: var(--clr-lemon);
			transition: .2s;
		}
	}

	&:hover .swiper-button-next,
	&:hover .swiper-button-prev {
		opacity: 1;
		pointer-events: initial;
	}

	.swiper-button-next {
		right: 5rem;
	}
	.swiper-button-prev {
		left: 4rem;
	}


	// Paginations
	.swiper-pagination {
		bottom: 2rem;
		// background-color: orange;

	}
	.swiper-pagination-bullets {
		// background-color: red;
		// width: 100px;

		span {
			// background-color: red;
		}
	}
}





// ================ Section Coming soon ==========
.section-coming-soon {
	width: 100%;
	height: 80vh;
	// min-height: 80vh;
	background-image: linear-gradient(to bottom, rgba(0, 175, 82, 0.8), rgba(0, 134, 87, 0.8)) ,url(/assets/coming-soon.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: var(--clr-white);
	text-align: center;

	.coming-container {
		width: 100%;
		height: 100%;
		// padding-top: 10rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	h1 {
		font-family: "montserrat", sans-serif;
		font-weight: bolder;
		font-size: clamp(5rem, 7vw, 12rem);
	}
	p {
		margin-bottom: 2rem;
	}
}
// End of Section coming soon









/* =============================== */
      /* media queries */
/* =============================== */


// Desktop
@media (min-width: 768px) {
    
	.section-hero {

		.page-1 {
			&_container {
				grid-template-columns: 3fr 2fr;
			}
		}
	}

}



// Very Large Screens
@media (min-width: 1500px) {
    

}


// Smart Phones
@media screen and (max-width: 500px) {
	
}

// Tables
@media screen and (max-width: 768px) {
	
	// ================ Hero Section ===============
	.section-hero {


		.swiper-button-next,
		.swiper-button-prev {
			top: 90%;
		}


		.swiper-button-next {
			right: 2rem;
		}
		.swiper-button-prev {
			left: 1rem;
		}
	}
}





</style>

