---
import MainLayout from '../layouts/MainLayout.astro';
import Banner from '../components/Banner.astro';

import { Image } from "astro:assets";

// heroimages
import Hero1 from "../assets/page-1.png"

// About Images
import About1 from "../assets/about-1.png";
import About2 from "../assets/about-2.png";

// Services Images
import Service1 from "../assets/service-1.png";
import Service2 from "../assets/service-2.png";
import Service3 from "../assets/service-3.png";
import Service4 from "../assets/service-4.png";

// Testimonial images
import Testimonial1 from "../assets/testimonial-1.png";
import Values from '../components/Values.astro';
---

<MainLayout title="Aceltrim Ghana">
	


	<!-- =========================== Coming soon Pge ===================== -->
	<!-- <section class="section-coming-soon">
		<div class="container wrapper">
			<div class="coming-container">
				<p>We are about to land</p>
				<h1>Get in touch</h1>
				<p>In the mean time, please do feel free to send all questions and all messages to via email</p>

				<a href="mailto:kofikwaakoomson@yahoo.com" class="btn btn-black">Send us a message</a>
			</div>
		</div>
	</section> -->
	<!-- End of Coming soon page -->




	<!-- ============================ section Hero =================== -->
	<section class="section-hero">
		
		<div class="hero-swiper">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->

				 <!-- page-1 -->
				<div class="swiper-slide page-1">
					<div class="container wrapper">
						<div class="w-full h-full page-1_container text-white  items-center text-center md:text-left pt-40">
							<div>
								<h1 class="hero-text mb-4 animate__animated animate__rubberBand">We Create Your Dream Landscape</h1>
								<p class="mb-8 animate__animated animate__fadeIn animate__delay-.5s">Transform your outdoor space into a breathtaking oasis with Aceltrim.
								</p>
								<a href="/contact" class="btn btn-black animate__animated animate__fadeIn animate__delay-1s">Contact Us</a>
							</div>
							<div class="hidden md:block">
								<Image src={Hero1} alt="hero Imag-1" class="mb-8 animate__animated animate__fadeIn animate__delay-1s" />
							</div>
						</div>
					</div>
				</div>
				<!-- End of Page-1 -->

				<!-- Page-2 -->
				<!-- <div class="swiper-slide page-2">
					<div class="container wrapper">
						<div class="w-full h-full max-w-6xl mx-auto  text-white pt-40 flex items-center flex-col justify-center text-center ">
							<h1 class="hero-text mb-8">We Design &amp; Create your Gardens</h1>
							<p class="mb-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum numquam deserunt ea eligendi praesentium commodi iste ipsam nihil similique ullam?</p>
							<a href="#" class="btn btn-green">Contact Us</a>
						</div>
					</div>	
				</div> -->
				<!-- End of page-2 -->

				<!-- Page-3 -->
				<!-- <div class="swiper-slide page-3">
					<div class="container wrapper">
						<div class="w-full h-full max-w-6xl mx-auto text-white pt-40 flex items-center flex-col justify-center text-center ">
							<h1 class="hero-text mb-8">We Design &amp; Create your Gardens</h1>
							<p class="mb-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum numquam deserunt ea eligendi praesentium commodi iste ipsam nihil similique ullam?</p>
							<a href="#" class="btn btn-green">Contact Us</a>
						</div>
					</div>
				</div> -->
				<!-- End of page-3 -->
			</div>


			<!-- If we need pagination -->
			<!-- <div class="swiper-pagination"></div> -->


			<!-- If we need navigation buttons -->
			<!-- <div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div> -->
		</div>
	</section>
	<!-- End of section hero -->


	




	<!-- =========================== Section About ===================== -->
	<section class="section-home_about py-40 relative">
		<div class="container wrapper">
			<div class="grid grid-cols-1 md:grid-cols-2 gap-24 items-center">
				<div class="slide-fleft">
					<h1 class="heading-big">Welcome to Aceltrim</h1>
					<p class="mb-8">Where we transform landscapes into vibrant works of art.
					<br>
					From design to maintenance, our passionate team is committed to excellence, sustainability, and innovation in every project we undertake.
					</p>
					<a href="/about" class="btn btn-green">More about us</a>
				</div>
				<div>
					<!-- <Image src={About1} alt="Aceltrim Group" /> -->
					<Image src={About2} alt="Aceltrim Group" class="fade-up" />
				</div>
			</div>
		</div>
		<div class="orange-blur top-90%"></div>
	</section>

	<!-- End of section about -->






	<!-- =========================== Section Values ===================== -->
	<Values></Values>
	<!-- End of Values -->





	<!-- =========================== Section services ===================== -->
	<section class="section-service py-40 relative">
		<div class="container wrapper">
			<h2 class="heading-secondary mb-12">Our Services</h2>
			<p class="mb-12">Comprehensive Landscaping Solutions Tailored to Your Vision
			</p>

			<div class="grid grid-cols-1 gap-12">
				<!-- Landscape Design and Installation-1 -->
				<div class="service grid grid-cols-1 md:grid-cols-2  items-center fade-up">
					<div class="service-text md:text-left md:pr-12">
						<h3>Landscape Design and Installation</h3>
						<p>Landscape design services to enhance the aesthetic appeal of residential and commercial properties.
							</p>
						<a href="/services#landscpae-design" class="btn-thin">Learn More</a>
					</div>
					<div class="service-img">
						<Image src={Service1} alt="Landscape Design and Installation" />
					</div>
				</div>
				<!-- End of Landscape Design and Installation -->

				<!-- Lawn Care and Maintenance -->
				<div class="service grid grid-cols-1 md:grid-cols-2  items-center fade-up">
					<div class="service-text md:text-left md:pr-12">
						<h3>Lawn Care and Maintenance</h3>
						<p> Regular lawn mowing, trimming, and edging services to keep lawns looking
						neat and healthy. </p>
						<a href="/services#lawn-care" class="btn-thin">Learn More</a>
					</div>
					<div class="service-img">
						<Image src={Service2} alt="Lawn Care and Maintenance" />
					</div>
				</div>
				<!-- End of LawnCare and Maintenance -->

				<!-- Hardscape Construction -->
				<div class="service grid grid-cols-1 md:grid-cols-2  items-center fade-up">
					<div class="service-text md:text-left md:pl-12">
						<h3> Hardscape Construction</h3>
						<p> Customized hardscape design and installation services, including patios,
							walkways, retaining walls, and outdoor living spaces</p>
						<a href="/services#hardscape-construction" class="btn-thin">Learn More</a>
					</div>
					<div class="service-img">
						<Image src={Service3} alt="Hardscape Construction" />
					</div>
				</div>
				<!-- End of Hardscape Construction -->

				<!-- Landscape Renovations -->
				<div class="service grid grid-cols-1 md:grid-cols-2  items-center fade-up">
					<div class="service-text md:text-left md:pr-12">
						<h3> Landscape Renovation and Enhancement</h3>
						<p> Comprehensive landscape renovation services to revitalize outdated or
							neglected outdoor spaces.</p>
						<a href="/services#landscape-renovation" class="btn-thin">Learn More</a>
					</div>
					<div class="service-img">
						<Image src={Service4} alt="Landscape Design and Installation" />
					</div>
				</div>
				<!-- End of service-1 -->
			</div>
		</div>

		<div class="green-blur top-0% right-0"></div>
	</section>

	<!-- End of services -->



	<!-- ============= Section Banner ============== -->
	<Banner></Banner>
	<!--End of section Banner  -->





	<!-- =========================== Section Testimonials ===================== -->
	<section class="section-testimonials py-40 relative">
		<div class="container wrapper">
			<h2 class="heading-secondary mb-12">Testimonials</h2>
			<p class="text-center mb-12">True Stories of What it Means to work with Us.</p>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
				<div class="grid grid-cols-1 gap-8">
					<!-- testimonial 1 -->
					<div class="testimonial">
						<div class="testimonial-content">
							<div class="testimonial-image">
								<Image src={Testimonial1} alt="Client-1">
								<div>
									<h3>Carbell Sarfo</h3>
									<p>Managing Director</p>
								</div>
							</div>
							<div>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vero, libero sint quas sequi doloremque.</p>
							</div>
						</div>

					</div>
					<!-- end of Testimonial-1 -->

					<!-- testimonial 2 -->
					<div class="testimonial">
						<div class="testimonial-content">
							<div class="testimonial-image">
								<Image src={Testimonial1} alt="Client-1">
								<div>
									<h3>Carbell Sarfo</h3>
									<p>Managing Director</p>
								</div>
							</div>
							<div>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vero, libero sint quas sequi doloremque.</p>
							</div>
						</div>

					</div>
					<!-- end of Testimonial-2 -->

				</div>
				<div class="grid grid-cols-1 gap-8 md:mt-12">
					<!-- testimonial 3 -->
					<div class="testimonial">
						<div class="testimonial-content">
							<div class="testimonial-image">
								<Image src={Testimonial1} alt="Client-1">
								<div>
									<h3>Carbell Sarfo</h3>
									<p>Managing Director</p>
								</div>
							</div>
							<div>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vero, libero sint quas sequi doloremque.</p>
							</div>
						</div>

					</div>
					<!-- end of Testimonial-3 -->


					<!-- testimonial 4 -->
					<div class="testimonial">
						<div class="testimonial-content">
							<div class="testimonial-image">
								<Image src={Testimonial1} alt="Client-1">
								<div>
									<h3>Carbell Sarfo</h3>
									<p>Managing Director</p>
								</div>
							</div>
							<div>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vero, libero sint quas sequi doloremque.</p>
							</div>
						</div>

					</div>
					<!-- end of Testimonial-4 -->
				</div>
			</div>
		</div>

		<div class="green-blur top-90% right-0"></div>
	</section>
	<!-- End of section Testimonials -->




</MainLayout>










<style lang="scss">

// sections
// 1. Section hero
// 2. Section coming soon
// 3. section about
// 4. section Values
// 5. Section Services

// ===================== Section Hero ===============
.section-hero {
	width: 100vw;
	height: 95vh;
	position: relative;

	.hero-swiper {
		width: 100%;
		height: 100%;
	}
	.swiper-wrapper {
		width: 100%;
		height: 100%;
	}

	// Swiper Slide
	.swiper-slide {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		padding-top: 5rem;
	}


	.page-1 {
		background-image: url(/assets/hero-1.png);

		&_container {
			display: grid;
			grid-template-columns: 1fr;
			gap: 5rem;
		}
	}
	.page-2 {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(/assets/hero-2.png);
	}
	.page-3 {
		background-image:  linear-gradient(to right, rgba(0, 175, 82, 0.85), rgba(0, 0, 0, 0.8)), url(/assets/hero-3.png);
	}


	// =========== Hero Text ==============
	.hero-text {
		font-size: clamp(4rem, 6vw, 6rem);
		font-family: "montserrat", sans-serif;
		line-height: 1.2;
		font-weight: bolder;
	}



	// =========== Swiper Carousel ==============

	// Navigation Buttons
	.swiper-button-next,
	.swiper-button-prev {
		display: flex;
		width: 5rem;
		height: 5rem;
		background-color: var(--clr-white);
		border-radius: 50%;
		opacity: 0;
		pointer-events: none;
		transition: .2s ease-in-out;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&:hover {
			background-color: var(--clr-lemon);
		}
		&:hover::after {
			color: var(--clr-white);
		}

		&::after {
			// display: none;
			font-size: 2rem;
			font-weight: bolder;
			color: var(--clr-lemon);
			transition: .2s;
		}
	}

	&:hover .swiper-button-next,
	&:hover .swiper-button-prev {
		opacity: 1;
		pointer-events: initial;
	}

	.swiper-button-next {
		right: 5rem;
	}
	.swiper-button-prev {
		left: 4rem;
	}


	// Paginations
	.swiper-pagination {
		bottom: 2rem;
		// background-color: orange;

	}
	.swiper-pagination-bullets {
		// width: 100px;

		span {
		}
	}
}
// End of section Hero




// ================ Section Coming soon ==========
.section-coming-soon {
	width: 100%;
	height: 80vh;
	// min-height: 80vh;
	background-image: linear-gradient(to bottom, rgba(0, 175, 82, 0.8), rgba(0, 134, 87, 0.8)) ,url(/assets/coming-soon.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: var(--clr-white);
	text-align: center;

	.coming-container {
		width: 100%;
		height: 100%;
		// padding-top: 10rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	h1 {
		font-family: "montserrat", sans-serif;
		font-weight: bolder;
		font-size: clamp(5rem, 7vw, 12rem);
	}
	p {
		margin-bottom: 2rem;
	}
}
// End of Section coming soon









// ================ Section services ==========
.section-service {
	text-align: center;

	.service {
		background-color: var(--clr-white);
		border-radius: 1rem;
		box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.1);
		overflow: hidden;
		transition: .2s;

		&:hover {
			box-shadow: 0 .4rem .7rem rgba(0, 0, 0, .2);
			transform: translateY(-2px);
		}

		&-text {
			padding: 3rem;
			padding-top: 5rem;
		}

		h3 {
			font-family: "montserrat", sans-serif;
			font-weight: bolder;
			margin-bottom: 2rem;
			font-size: 2.5rem;
		}
	}
}
// End of section services



// ================== Section Testimonial ====================
.section-testimonials {

	.testimonial {
		background: linear-gradient(to right top, #fff, #00AF51, #008658);
		padding: .5rem;
		border-radius: 1rem;
		transition: .4s;
		box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .1);

		&:hover {
			box-shadow: 0 .4rem .7rem rgba(0, 0, 0, .2);
			transform: translateY(-2px);
		}

		&-content {
			background-color: var(--clr-white);
			border-radius: 1rem;
			padding: 3rem;
			width: 100%;
			height: 100%
		}

		.testimonial-image {
			display: flex;
			align-items: center;
			margin-bottom: 2rem;

			img {
				width: 80px;
				margin-right: 1rem;
			}

			h3 {
				font-weight: bold;
			}
			p {
				font-size: 1.5rem;
			}
		}
	}
}
// End of section testimonial

















/* =============================== */
      /* media queries */
/* =============================== */


// Desktop
@media (min-width: 768px) {
    
	.section-hero {

		.page-1 {
			&_container {
				grid-template-columns: 3fr 2fr;
			}
		}
	}





	.section-services {

		.service {
		

		&-text {
			padding: 3rem;
		}

		&-img {
			max-height: 300px;
			width: auto;
			display: none;
		}
	}
	}

}



// Very Large Screens
@media (min-width: 1500px) {
    

}


// Smart Phones
@media screen and (max-width: 500px) {
	
}

// Tables
@media screen and (max-width: 768px) {
	
	// ================ Hero Section ===============
	.section-hero {


		.swiper-button-next,
		.swiper-button-prev {
			top: 90%;
		}


		.swiper-button-next {
			right: 2rem;
		}
		.swiper-button-prev {
			left: 1rem;
		}
	}
}





</style>

